@model ICollection<ServicoSummary>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="card-title">@ViewData["title"]</div>
        <div class="card-tools">
          <a class="btn btn-success" asp-controller="Servico" asp-action="Create">
            <em class="fas fa-plus"></em>
            Novo Serviço
          </a>
        </div>
      </div>
      <div class="card-body">
        @if (Model.Count <= 0)
        {
          <div>
            Nenhum serviço cadastrado.
          </div>
        }
        else
        {
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Valor Mínimo</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var servico in Model)
              {
                <tr>
                  <td>@servico.Id</td>
                  <td>@servico.Nome</td>
                  <td>@servico.ValorMinimo.ToString("c")</td>
                  <td>
                    <a
                      class="btn btn-sm btn-warning"
                      asp-controller="Servico"
                      asp-action="UpdateById"
                      asp-route-id="@servico.Id"
                    >
                      Editar
                    </a>
                    <a
                      class="btn btn-sm btn-danger"
                      onclick="return confirm('Tem certeja que deseja excluir este serviço?')"
                      asp-controller="Servico"
                      asp-action="DeleteById"
                      asp-route-id="@servico.Id"
                    >
                      Excluir
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
</div>